<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Silex Start Application</title>
	<link rel="stylesheet" href="bower/normalize.css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	{% block content %}
	    
	{% endblock %}
	<script src="js/main.js"></script>
</body>
</html>
